<h2 class="text-xl font-semibold">[СТРИМ] "КАК НЕ БЫТЬ БЫДЛОМ?"</h2>
<div class="py-4 rounded-lg mb-6 flex items-center justify-between -mt-2">
  <div class="flex flex-col space-x-4 cursor-pointer">
    <div class="flex items-center space-x-2">
      <img
        src="https://yt3.ggpht.com/ytc/APkrFKaEIUl5My4M5Pt522ZQB0BUsVnSR8m5AEFxS2ir6g=s48-c-k-c0x00ffffff-no-rj"
        alt="Логотип канала" class="w-10 h-10 rounded-full">
      <div class="flex flex-col -mt-2">
        <h3 class="text-md font-semibold">Moonlighter</h3>
        <span class="text-gray-600 text-xs font-normal -mt-0.5">186 тыс. подписчиков</span>
      </div>
    </div>
  </div>

  <div class="flex items-center ">
    <button class="bg-blue-600 text-white px-2 py-1 rounded-full -mx-3 hover:bg-blue-500">Подписаться</button>
    <div class="mx-5">
      <button
        class="text-white bg-gray-600 py-1 px-2 hover:bg-gray-500 rounded-l-full border border-gray-700 border-r-2 border-0">
        <fa-icon [icon]="faThumbsUp"/>
        975
      </button>
      <button class="text-white bg-gray-600 py-1 px-2 hover:bg-gray-500 rounded-r-full -mr-3">
        <fa-icon [icon]="faThumbsDown"/>
        13
      </button>
    </div>
    <button class="text-white bg-gray-600 py-1 px-2 hover:bg-gray-500 rounded-full mr-2">
      <fa-icon [icon]="faShare"/>
      Поделиться
    </button>
    <button class="text-white bg-gray-600 py-1 px-2 hover:bg-gray-500 rounded-full">
      <fa-icon [icon]="faBars"/>
      <fa-icon [icon]="faPlus"/>
      Сохранить
    </button>
  </div>
</div>
