<a [routerLink]="['/video']">
  <div class="video-card w-auto">
    <div class="aspect-video">
      <img
        class="rounded-lg h-full w-full hover:rounded-none transition-all duration-100"
        src="https://i.ytimg.com/vi/J6a57KEV6hY/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBT41wfpL1UYvZukGBL3QHqhAmF4A"
        alt=""
      >
    </div>
    <div class="p-3">
      <div class="flex h-10">
        <img class="rounded-full h-8"
             src="https://yt3.googleusercontent.com/6pUT30WThmFBtK8CLjVVy3Hx9QrD5vkI6r6gmDWJ8kx6I3AQ8t0nHfrYC3TzOERvx2mQFbSy=s176-c-k-c0x00ffffff-no-rj"
             alt="">
        <div class="flex flex-col ml-2">
          <h5 class="text-sm font-semibold opacity-80"> {{ "И смешно и страшно #5 (Phasmophobia VR)"}}</h5>
          <button class="self-start font-semibold text-sm opacity-60 mt-0.5">Marmok</button>
          <p class="self-start font-semibold text-sm opacity-60">4,4 млн просмотров •  3 месяца назад</p>
        </div>
      </div>
    </div>
  </div>
</a>
