<div class="container mx-auto mt-5">
  <div class="xl:h-56 lg:h-40 md:h-36 sm:h-28 h-20 rounded-lg w-auto" style="
  background-image: url('https://yt3.googleusercontent.com/w35hTx8rIFufgIZKEKGVwx1e0DFkL8qBjb6PQFoBblFwvWupi4XtdRd0MwKrkIF2OuN8OvcG=w2120-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj');
  background-size: 100% 100%;
  background-repeat: no-repeat;
"></div>
  <div class="flex mt-8">
    <img class="rounded-full w-40 h-40 d-none-700"
         src="https://yt3.googleusercontent.com/ytc/APkrFKaEIUl5My4M5Pt522ZQB0BUsVnSR8m5AEFxS2ir6g=s176-c-k-c0x00ffffff-no-rj"
         alt="">
    <div class="flex flex-col  ml-5">
      <h2 class="font-bold text-4xl">Moonlighter</h2>
      <p class="mt-2">186 тыс. подписчиков ‧ 24 видео</p>
      <button class="bg-red-600 text-white py-2 px-4 rounded-full w-44 mt-3 hover:bg-red-500 transition-all">
        Подписаться
      </button>
    </div>
  </div>
</div>
