<a [routerLink]="['/video']">
  <div class="video-card w-auto">
    <div class="relative flex aspect-video justify-center">
      <img
        class="rounded-lg h-full w-full hover:rounded-none transition-all duration-100 shadow-lg"
        src="https://i.ytimg.com/vi/J6a57KEV6hY/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBT41wfpL1UYvZukGBL3QHqhAmF4A"
        alt=""
      >
      <div
        class="absolute right-4 bottom-4 px-1.5 bg-gray-600/80 rounded-sm flex items-center shadow-2xl"
      >
        <fa-icon size="sm" class="text-white opacity-70" [icon]="faBars"/>
        <span class="text-white text-sm ml-1">6 видео</span>
      </div>
      <div class="absolute center w-11/12 h-1 bg-gray-400/50 -top-1 rounded-t-lg shadow-2xl"></div>
    </div>
    <div class="p-3">
      <div class="flex flex-col h-10">
        <h5 class="text-sm font-semibold opacity-80"> {{ "И смешно и страшно #5 (Phasmophobia VR)"}}</h5>
        <button class="self-start font-semibold text-sm opacity-60 mt-0.5">Marmok</button>
        <p class="self-start font-semibold text-sm opacity-60">4,4 млн просмотров • 3 месяца назад</p>
      </div>
    </div>
  </div>
</a>
