<div class="grid grid-cols-12 gap-6 ml-10">
  <div class="lg:col-span-8">

    <video-player/>
    <top-metadata/>
    <bottom-metadata/>
    <comments/>

  </div>

  <div class="col-span-4">
    <right-side-video/>
    <right-side-video/>
    <right-side-video/>
    <right-side-video/>
    <right-side-video/>
    <right-side-video/>
    <right-side-video/>
    <right-side-video/>
    <right-side-video/>
    <right-side-video/>
    <right-side-video/>
    <right-side-video/>
    <right-side-video/>
    <right-side-video/>
    <right-side-video/>
    <right-side-video/>
    <right-side-video/>
    <right-side-video/>
    <right-side-video/>
    <right-side-video/>
    <right-side-video/>
    <right-side-video/>
    <right-side-video/>
    <right-side-video/>
  </div>
</div>
